Source: deepin-ab-recovery
Section: admin
Priority: extra
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends: debhelper (>= 9), golang-go,
 golang-dlib-dev, golang-github-linuxdeepin-go-dbus-factory-dev, dde-api-dev
Standards-Version: 3.9.5
Homepage: http://github.com/linuxdeepin

Package: deepin-ab-recovery
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, rsync, grub-common, mount
Recommends:
Conflicts:
Breaks:
Description: deepin AB Recovery
